<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div>
        <form id="cc-form" class='form-container' action="/" method="post">
        <h1>VGS Task</h1>
        <div class='form-element'>
            <label for="cc_name">Name</label>
                <input type="text" name="cc_name" placeholder="John Doe" required>
        </div>
        <div class='form-element'>
            <label for="cc_number">Card number</label>
                <input type="tel" name="cc_number" minlength="18" maxlength="19" placeholder="1111 1111 1111 1111" pattern="[0-9]{4} [0-9]{4} [0-9]{4} [0-9]{4}" required>
        </div>
        <div class='form-element'>
            <label for="cc_expiration_date">Expiration date</label>
                <input type="text" name="cc_expiration_date" placeholder="MM / YY" required>
        </div>
        <div class='form-element'>
              <label for="cc_cvc">CVC</label>
                <input type="tel" name="cc_cvc" minlength="3" maxlength="4" placeholder="343" required>
        </div>
        <input type='submit' value='Redact' class='submit-btn'></input>
        </form>
    </div>
</body>
</html>