<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div>
        <form id="cc-form" class='form-container' action="/" method="post">
        <h1>Ching Ching</h1>
        <div class='form-element'>
            <label for="cc_name">Name</label>
                <input type="text" name="cc_name">
        </div>
        <div class='form-element'>
            <label for="cc_number">Card number</label>
                <input type="number" name="cc_number">
        </div>
        <div class='form-element'>
            <label for="cc_expiration_date">Expiration date</label>
                <input type="number" name="cc_expiration_date">
        </div>
        <div class='form-element'>
              <label for="cc_cvc">CVC</label>
                <input type="number" name="cc_cvc">
        </div>
        <input type='submit' value='Redact' class='submit-btn'></input>
        </form>
    </div>
</body>
</html>