<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <form id="cc-form" class='form-container'>
        <h1>VGS Task</h1>
        <div class='form-element'>
            <label for="cc_name">Name Revealed</label>
                <input type="text" name="cc_name" class="form-element-redacted" value="<%= cName %>" disabled>
        </div>
        <div class='form-element'>
            <label for="cc_number">Card number Revealed</label>
                <input type="text" name="cc_number" class="form-element-redacted" value="<%= cNumber %>" disabled>
        </div>
        <div class='form-element'>
            <label for="cc_expiration_date">Expiration date revealed</label>
                <input type="text" name="cc_expiration_date" class="form-element-redacted" value="<%= cDate %>" disabled>
        </div>
        <div class='form-element'>
              <label for="cc_cvc">CVC Revealed</label>
                <input type="text" name="cc_cvc" class="form-element-redacted" value="<%= cCVC %>" disabled>
        </div>
        <a href="/" class="reset">Start Over</a>
        </form>
</body>
</html>